# ==========================================
# ENTORNO: TEST / DESARROLLO (Puerto 8001)
# ==========================================

# Base de Datos apuntando a Test
DATABASE_URL="mssql+pyodbc://sa:YourStrong!Passw0rd@127.0.0.1:1434/ZSG_Master_Test?driver=ODBC+Driver+17+for+SQL+Server"

# Configuración de Inteligencia Artificial
AI_PROVIDER="google" # o "openai"
GOOGLE_API_KEY="TU_API_KEY_DE_PRUEBA"
OPENAI_API_KEY=""

# Configuración del Entorno
ENVIRONMENT="test"
DEBUG=True
PORT=8001
